<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <a href="{% url 'hello' %}">Hello</a>
    </div>
    <div>
        <a href="{% url 'create-publisher' %}">Create Publisher</a>
        <a href="{% url 'all-publisher' %}">Publisher List</a>
    </div>
    <div>
        <a href="{% url 'create-game' %}">Create Game</a>
        <a href="{% url 'all-games' %}">List of Games</a>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>